/* styles.css */
.container {
    background-color: #2c2c2c; /* Color negro grisáceo */
    color: #ffffff; /* Texto blanco para contraste */
    padding: 20px;
}

.title {
    font-size: 24px;
}


/* Estilos para History SINO ME OLVIDO JAJAJA  */
.history-container {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

/* Estilos para cada columna  igual me olvido */
.history-column {
    flex: 1; 
    padding: 10px; 
    box-sizing: border
}


.history-title {
    font-size: 24px;
    margin-bottom: 20px; 
}

.history-paragraph {
    margin-bottom: 15px; 
}